<div class="sidebar" data-color="purple" data-background-color="white">
      <div class="sidebar-wrapper">
        
        <ul class="nav">
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>GENERAL</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>ASESORES</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>RANKING</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>DETALLE</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>RESUMEN</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>PERFIL</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>USUARIOS</p>
            </a>
          </li>
          <li class="">
            <a href="./template.html">
              <i class="tim-icons icon-atom"></i>
              <p>CAMPAÑAS</p>
            </a>
          </li>
        </ul>
      </div>
    </div>