{{> head }}

   
    {{> navbar}}
        <div class="row">
            <div class="col">
                <h1>prueba IMG</h1>
            </div>
            <div class="col">
                <img src="assets/img/persona2.jpg" alt="" class="img-thumbnail">
            </div>
        </div>

    {{> footer}}