{{> head }}

   
       

      
    <div class="navbar-minimize-fixed" >
      <button class="minimize-sidebar btn btn-link btn-primary btn-just-icon">
        <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
        <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
      </button>
    </div>
    {{> sidebar}}
     {{> navbar}}
     <div class="content" style="background-color:white;">
         <div align="center" class="box-header with-border" style="margin-bottom:30px;">   
          <img src="/assets/img/banorte.PNG" class="mx-auto d-block" alt="">
          
        </div>

        <div class="container">
            <div class="row">
                <div class="col"style="height:250px;">Column

                </div>
                <div class="col"style="height:250px;">Column

                </div>
                <div class="w-100">

                </div>
                <div class="col" style="height:250px;" id="demo">

                </div>
                <div class="col"style="height:250px;">
                          <table class="table table-dark">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                    </table>

                </div>
            </div>
        </div>
        
                
              
                
    
        



        	
		<script>
			var words = [
				{text: ".NET", weight: 13},
				{text: "C++", weight: 16.5},
				{text: "Java", weight: 9.4},
				{text: "Ruby", weight: 8},
				{text: "Python", weight: 6.2},
				{text: "PHP", weight: 5},
				{text: "Pascal", weight: 5},
				{text: "Javascript", weight: 5},
				{text: "HTML5", weight: 5},
				{text: "Ensamblador", weight: 5},
				{text: "Lorem", weight: 13},
				{text: "Ipsum", weight: 10.5},
				{text: "Dolor", weight: 9.4},
				{text: "Sit", weight: 8},
				{text: "Amet", weight: 6.2},
				{text: "Consectetur", weight: 5},
				{text: "Adipiscing", weight: 5},
				{text: "Java", weight: 9.4},
				{text: "Ruby", weight: 8},
				{text: "Python", weight: 6.2},
				{text: "PHP", weight: 5},
				{text: "Pascal", weight: 5},
				{text: "Javascript", weight: 5},
				{text: "HTML5", weight: 5},
				{text: "Ensamblador", weight: 5}
			  /* ... */
			];

			$('#demo').jQCloud(words);
		</script>
     </div>
     {{> footer}}

    
       
   